li {
    list-style: none;
}
li:before {
    content: "✓ ";
}

input {
    border: none;
    width: 40px;
    font-size: 14px;
    padding: 2px;
}

input:hover {
    background-color: #eee;
}

input:focus {
    background-color: #ccf;
}

input:not(:focus) {
    text-align: right;
}

table {
    border-collapse: collapse;  
}

td {
    border: 1px solid #999;
    padding: 0;
    font-weight: bold;
}

tr:first-child td, td:first-child {
    background-color: #ccc;
    padding: 1px 3px;
    font-weight: bold;
    text-align: center;
}

footer {
    font-size: 80%;
}

h1 {
text-decoration:none;
border:0;
width : 800px;
height : 110px;
margin : 0;
padding : 0;
background-image : url(NE/img/ntt.jpeg) no-repeat 0 0;
}
 
h1 a {
display : block;
height : 110px;
text-indent : -9999px;
}

.textarea {
	width : 200px;
	height : 200px;
	margin-left: 32px;
}

.sfondo {
	background-color: #f1f1f1;
}